.friend {
  width: 120px;
  padding: 10px;

  font-family: Arial;
  text-align: center;

  border: 2px solid black;
  border-radius: 8px;
}

.name {
  font-size: 26px;
  font-weight: 500;
  line-height: 0.1;
  letter-spacing: 0.02em;
}
.online {
  color: green;
}

.offline {
  color: red;
}
